@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-color: white #0d1117;
  scrollbar-width: thin;
}

body.modal-open {
  overflow: hidden;
}

.App {
  background-color: #121212;
}
.image-form {
  opacity: 0;
}
.image-form:hover {
  display: center;
  place-content: center;
  cursor: pointer;
  text-align: center;
  border-radius: 50%;
  color: white;
  opacity: 0.5;
  font-size: 1.1em;
  width: 100%;
  height: 100%;
  background-color: black;
}
